{% load i18n %}
{% load compress %}

{% compress js inline %}
	<script type="text/coffeescript" charset="utf-8">

	geocodeService = new L.esri.Geocoding.geocodeService
	DjangoWebmap.CENTER_CS = new L.LatLng 49.829896, 15.514818
	DjangoWebmap.DEFAULT_PRESET_SLUG = 'bar'


	class MarkerIcon extends L.DivIcon
		constructor: (color, char) ->
			super
				className: 'marker',
				iconSize: null,
				html: "<span style='color:##{ color }'>&#x#{ char }</span>"

	PRESETS =
		{% for p in presets %}
		'{{ p.slug }}':
			name: '{{p.name}}'
			desc: '{{p.desc}}'
			show: {% if p.status.show %}true{% else %}false{% endif %}
			show_to_mapper: {% if p.status.show_to_mapper %}true{% else %}false{% endif %}
			base_layer:
				slug: '{{p.base_layer.slug}}'
			overlay_layers:
				{% for l in p.overlay_layers.all %}
					'{{l.slug}}':
						url: '{% url 'data' l.slug %}'
				{% endfor %}
		{% endfor %}

	BASE_LAYERS =
		{% for l in base_layers %}
		'{{l.slug}}':
			L.tileLayer('{{l.url}}', {maxZoom:{{l.max_zoom}}, minZoom:{{l.min_zoom}}})
		{% endfor %}

	MARKER_TYPES =
		{% for m in markers %}
		{{m.id}}:
			name: '{{m.name}}'
			slug: '{{m.slug}}'
			desc: '{{m.desc}}'
			remark: '{{m.remark}}'
			default_icon: {% if m.default_icon %}'{{m.default_icon.url}}'{% else %}''{% endif %}
			menu_icon: {% if m.default_icon %}'{{m.menu_icon.url}}'{%else%}''{% endif %}
			line_width: {{m.line_width}}
			line_color: '{{m.line_color}}'
			min_zoom: {{m.minzoom}}
			max_zoom: {{m.maxzoom}}
		{% endfor %}

	KINDS =
		'F00D':
			icon: new MarkerIcon('555', 'F00D')
			name: "{% trans 'Fruit kind' %}"
		{% for k in kinds %}
		'{{ k.key }}':
			icon: new MarkerIcon('{{ k.color }}', '{{ k.key }}')
			name: '{{ k.name }}'
		{% endfor %}

	class DjangoWebmap.Marker extends L.Marker
		constructor: (latlng, @kind) ->
			super latlng, icon: KINDS[@kind].icon

		setIcon: (kind) ->
			super KINDS[kind].icon


	getDMSCoords = (lat, lng) ->
		DD2DMS = (dd) ->
			d: 0 | (dd = Math.abs(dd))
			m: 0 | dd % 1 * 60
			s: (0 | dd * 60 % 1 * 6000) / 100

		fmtDMS = (dms) ->
			"#{dms.d}&deg;#{dms.m}&prime;#{dms.s}&Prime;"

		"#{fmtDMS DD2DMS(lat)}#{if lat<0 then 'S' else 'N'}&nbsp;" +
		"#{fmtDMS DD2DMS(lng)}#{if lng<0 then 'W' else 'E'}"


	class PresetChooser extends L.Control
		options:
			postion: 'topleft'

		onAdd: (map) ->
			@container = L.DomUtil.create(
				'div',
				'leaflet-bar leaflet-control leaflet-control-custom')
			@container.style.backgroundColor = 'white'
			@container.style.width = '30px'
			@container.style.height = '30px'
			@container.onclick = =>
				console.log('buttonClicked')
			@container


	class FruitPopup extends L.Popup
		constructor: (fruit, options) ->
			super options
			@_header = "<h4><a href='/fruit/detail/#{ fruit.id }/'>#{ KINDS[fruit.kind].name }" +
				"<br><small>(#{getDMSCoords fruit.lat, fruit.lng})</small></a></h4>"

		setContent: (content) ->
			@_content = @_header + content
			@.update()
			@


	class PopupMarker extends DjangoWebmap.Marker
		constructor: (fruit) ->
			@fruit = fruit
			super [fruit.lat, fruit.lng], fruit.kind

			@bindPopup new FruitPopup fruit,
				offset: new L.Point(0, -26)
				maxWidth: 200


	class DjangoWebmap.Map extends L.Map
		constructor: (id) ->
			@controlPos = 'topleft'

			super id,
				zoomControl: false,

			@spinner = $ '<div id="spinner">'
			$("##{id}").prepend @spinner

			@markerLayerGroup = new ZoomShowHide()
			@markerLayerGroup.addTo @
			@markerLayerGroup.addLayers = (layers) ->
				@addLayer l for l in layers

			{# Remove default attributions. #}
			@.attributionControl.setPrefix('');

			@markers = {}

			{# Add more content to popups when marker clicked. #}
			@.on 'popupopen', (ev) ->
				$.getJSON ev.popup._source.fruit.url, (json) =>
					content = "<p><strong>{% trans 'Shared by' %}:</strong> " +
						"<a href='/pickers/#{json.user.id}-#{json.user.username.toLowerCase()}/'>"+
						"#{json.user.username} &raquo;</a></p>"

					content += "<p><strong>{% trans 'Description' %}:</strong> " +
						"#{json.description.truncate(150)}<p>" if json.description

					ev.popup.setContent content

					@fetchAddress [json.lat, json.lng], (address) ->
						ev.popup.setContent "<p><strong>{% trans 'Address' %}:</strong> " +
							"#{address}</p>" + content if address
				@

		loadPreset: (preset_slug) ->
			@clearMarkers()
			@preset = PRESETS[preset_slug]
			@preset_slug = preset_slug
			@saveState()
			for _,base_layer of BASE_LAYERS
				base_layer.removeFrom @
			BASE_LAYERS[@preset.base_layer.slug].addTo @
			for _,overlay of @preset.overlay_layers
				@loadMarkers overlay.url

		loadMarkers: (url, onReload) ->
			@spinner.addClass 'spinning'
			@markers = {}
			$.getJSON url, (json) =>
				for marker in json["features"]
					marker_type = MARKER_TYPES[marker.properties.marker]
					marker_geojson = L.geoJson()
					marker_geojson.addData(marker)
					marker_geojson.min_zoom = marker_type.min_zoom
					marker_geojson.max_zoom = marker_type.max_zoom
					key = url + "#" + marker["id"]
					@markers[key] = marker_geojson
					@showMarkers key
				@spinner.removeClass 'spinning'
				onReload?()
				@

		showMarkers: (key='default') ->
			@markerLayerGroup.addLayer @markers[key]
			@

		filterMarkers: (kind, key='default') ->
			@markerLayerGroup.clearLayers()
			@markerLayerGroup.addLayers (m for m in @markers[key] when m.kind == kind)
			@

		clearMarkers: ->
			@markerLayerGroup.clearLayers()
			@

		{# functions to share map state between page reloads #}
		saveState: ->
			center = @getCenter()
			state =
				pos: [center.lat, center.lng]
				zoom: @getZoom()
				preset_slug: @preset_slug
			DjangoWebmap.storage.setObject 'map', state
			window.history.replaceState({}, "map", "/map/?preset="+@preset_slug+window.location.hash)
			@

		loadState: () ->
			url = new URL(window.location.href)
			preset_slug = url.searchParams.get("preset")
			state = DjangoWebmap.storage.getObject 'map'

			if state?
				@setView state.pos, state.zoom
				if preset_slug == null
					preset_slug = state.preset_slug
			else
				@setView DjangoWebmap.CENTER_CS, 8

			if preset_slug == null
				preset_slug == DjangoWebmap.DEFAULT_PRESET_SLUG

			@loadPreset preset_slug
			@

		focusTo: (latlng) ->
			@setView latlng, 10
			@

		fetchAddress: (latlng, onSuccess) ->
			geocodeService.reverse()
				.latlng latlng
				.run (error, result) ->
					if result
						loc = result.address
						address = "#{ loc.City }, #{ loc.CountryCode }"
						if loc.Postal
							address = "#{ loc.Postal } #{ address }"
						if loc.Address
							address = "#{ loc.Address }, #{ address }"
						onSuccess address
			@

		addSearch: ->
			arcgisOnline = L.esri.Geocoding.arcgisOnlineProvider()
			searchControl = new L.esri.Geocoding.geosearch
				placeholder: "{% trans 'Search for places or addresses' %}"
				title: "{% trans 'Location search' %}"
				providers: [arcgisOnline]
				useMapBounds: false
				position: @controlPos

			{# Do not display attributions, they are in the footer. #}
			searchControl.getAttribution = -> ''
			searchControl.addTo @

			results = new L.LayerGroup().addTo @

			searchControl.on 'results', -> results.clearLayers()
			@

		addLocate: ->
			L.control.locate
				icon: 'locator',
				iconLoading: 'locator busy'
				position: @controlPos
				strings:
					title: "{% trans 'Show me where I am' %}"
					metersUnit: "m"
					popup: "{% trans 'You are within {distance} {unit} from this point' %}"
			.addTo @
			@

		addZoom: ->
			L.control.zoom
				position: @controlPos
			.addTo @
			@

		addPresetChooser: ->
			@addControl new PresetChooser
				position: @controlPos
			@


		addAttribution: (text) ->
			@addControl L.control.attribution
				prefix: text or 'Map data &copy; OpenStreetMap contributors'
				position: 'bottomleft'
			@

</script>
{% endcompress %}
